# ATENÇÃO!
# Todas as variáveis são obrigatórias. Sem elas, a aplicação não irá rodar.

# Os dados para preenchimento da URL são definidas dentro do arquivo 'docker.compose.yml'. 
DATABASE_URL="postgresql://username:password@host/db_name?schema=public"

# Rode o comando node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" e copie e cole o resultado do log
CPF_HMAC_KEY="chave_32_bytes"

# Repita o processo anterior
CPF_AES_KEY="chave_32_bytes"

#Repita o processo anterior
JWT_SECRET="chave_32_bytes"

REDIS_URL=redis://localhost:6379